cloud/node-red/flows.json
[{"id":"21dc9bb1.673bbc","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"4a271a88.499184","type":"function","z":"21dc9bb1.673bbc","name":"testdata naar JSON","func":"//#!/usr/bin/env node\n\nmsg.payload = [];\n\nfor (var i=0; i<60; i++) {\n    msg.payload.push(\n    {\n        measurement: \"sensor1\",\n        fields:{\n            temp: i\n        },\n        timestamp: new Date()-(i*60000)\n    });\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":430,"y":100,"wires":[["748a06bd.675ed8"]]},{"id":"6493a442.1cdcbc","type":"inject","z":"21dc9bb1.673bbc","name":"\"sensor1\" testdata","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"","topic":"","payload":"","payloadType":"date","x":210,"y":100,"wires":[["4a271a88.499184"]]},{"id":"748a06bd.675ed8","type":"influxdb batch","z":"21dc9bb1.673bbc","influxdb":"90f23496.bd881","precision":"","retentionPolicy":"","name":"","database":"","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"Organization","bucket":"sensors","x":680,"y":100,"wires":[]},{"id":"706e74a2.da338c","type":"http in","z":"21dc9bb1.673bbc","name":"","url":"/packet","method":"post","upload":false,"swaggerDoc":"","x":230,"y":160,"wires":[["c3f0351f.ccc588","844ffa94.276b98","778e9535.84c794"]]},{"id":"c3f0351f.ccc588","type":"http response","z":"21dc9bb1.673bbc","name":"","statusCode":"","headers":{},"x":390,"y":220,"wires":[]},{"id":"844ffa94.276b98","type":"debug","z":"21dc9bb1.673bbc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":280,"wires":[]},{"id":"778e9535.84c794","type":"function","z":"21dc9bb1.673bbc","name":"file naar JSON","func":"//#!/usr/bin/env node\n\n/* Zie het kopje Cloud --> Node-RED in technisch ontwerp */\n\n/*\n * The first line in the file contains the transmitter ID. Right \n * now, it must be greater or equal to 8 charakters. \n */\nconst min_length_id = 8;\nconst meas_interval_ms = 60000;\n\nvar returnmsg = [];\nvar lines = msg.payload.split('\\n');\nmsg.payload = [];\nvar now = new Date()-1;\nvar transmitter_id = lines[0];\nvar j = 0;\n\nfor (var i=lines.length-1; i>=1; i--) {\n    //skip every line that doesn't contain a number\n    if (String(lines[i]).trim() == \"\" || !isFinite(String(lines[i]))) {\n        node.warn(\"ongeldige waarde: \" + lines[i]);\n        continue;\n    }\n    \n    //add every line, containing values, with timestamps to the JSON array. \n    returnmsg.push(\n    {\n        measurement: transmitter_id,\n        fields:{\n            temp: Number(lines[i])\n        },\n        timestamp: now-(j*meas_interval_ms)\n    });\n    j++;\n}\n\nif (transmitter_id.length >= min_length_id) {\n    msg.payload = returnmsg;\n} else {\n    node.warn(\"ongeldig ID: \" + transmitter_id);\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":160,"wires":[["eeeb5750.202de","8c798a2e.fe04d8"]]},{"id":"eeeb5750.202de","type":"debug","z":"21dc9bb1.673bbc","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":610,"y":220,"wires":[]},{"id":"8c798a2e.fe04d8","type":"influxdb batch","z":"21dc9bb1.673bbc","influxdb":"90f23496.bd881","precision":"","retentionPolicy":"","name":"","database":"","precisionV18FluxV20":"ms","retentionPolicyV18Flux":"","org":"Organization","bucket":"sensors","x":680,"y":160,"wires":[]},{"id":"90f23496.bd881","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"database","name":"","usetls":false,"tls":"","influxdbVersion":"2.0","url":"http://localhost:8086/","rejectUnauthorized":true}]